#stage {
    position: relative;
}

.ppt-slide {
    transition: opacity 400ms ease;
}
.mdb-top-banner
{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    max-width: 80vw;
    z-index: 1060;
    color: darkred;
    font-size: 2rem;
    white-space: nowrap;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 1rem !important;
}

.mdb-top-banner > span
{
    text-align: center;
}